<p style="color: green"><%= notice %></p>

<h1>Ateliers</h1>

<div id="ateliers">
  <% @ateliers.each do |atelier| %>
    <%= render atelier %>
    <p>
      <%= link_to "Modifier cet atelier", atelier %>
    </p>
  <% end %>
</div>

<%= link_to "Créer Atelier", new_atelier_path %>

